nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 200px;
}

body {
  font-family: "Open Sans", sans-serif;
  margin: 0;
}
.nav-title {
  color: #181818;
  font-size: 45px;
  font-weight: 800;
}
.text-primary {
  color: orange;
}
nav > ul {
  display: flex;
  align-items: center;
}
nav li {
  list-style: none;
  margin: 50px;
}
nav a {
  text-decoration: none;
  color: #474747;
}
.btn-primary {
  border-radius: 5px;
  background: #fd6e0a;
  border: 0;
  color: white;
  font-size: 20px;
  font-weight: 700;
  padding: 15px 35px;
}
.btn-primary a {
  text-decoration: none;
  color: white;
}
.header {
  background-color: #fff8f3;
  background-image: url("../images/header_bg.png"),
    url("../images/developer.png");
  background-repeat: no-repeat;
  background-position: bottom right, top left;
}
.banner {
  padding: 30px 0px 0px 150px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.banner .profile-pic {
  width: 500px;
}

.banner-greeting {
  font-size: 45px;
  color: #474747;
  margin-bottom: 0;
}
.banner-title {
  font-size: 85px;
  font-weight: 700;
  margin-top: 5px;
  margin-bottom: 20px;
}
.banner-description {
  color: #757575;
  text-align: center;
  font-size: 18px;
}
.banner-content {
  max-width: 500px;
}
/* About Section Start */
.about {
  padding: 100px;
  border-radius: 10px;
  background: #fff8f3;
  margin: 100px;
}
.about-info-container {
  display: flex;
  justify-content: space-around;
}
.about-info {
  text-align: center;
}
.info-description {
  text-align: center;
  padding: 5px;
}

.section-title {
  color: #181818;
  text-align: center;
  font-size: 35px;
  font-weight: 700;
}

main {
  max-width: 1140px;
  margin: 0 auto;
}

#what-i-do-description {
  padding: 30px 150px;
}
.skills-container {
  display: flex;
  gap: 24px;
}
.skill {
  padding: 30px;
  border-radius: 5px;
  background: #fff;
  box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06);
}
.skill-description {
  color: #757575;
}

.resume-column-title {
  color: #474747;
  font-size: 30px;
  font-weight: 700;
}
.resume-container {
  display: flex;
  gap: 50px;
}
.resume-item-institute {
  margin-bottom: 20px;
  margin-top: 0px;
}
.resume-item-institute,
.resume-item-description {
  color: #757575;
}
.resume-item-title {
  color: #474747;
  font-size: 25px;
  font-weight: 700;
  margin-bottom: 10px;
}
.resume-container hr {
  margin: 30px;
}

.Download-CV {
  text-align: center;
  margin-top: 50px;
}
footer {
  display: flex;
  gap: 100px;
  background: #fff8f3;
  margin-top: 100px;
  padding: 130px 200px;
}
.footer-column {
  width: 50%;
}
.contact input[type="text"],
.contact input[type="email"],
textarea {
  display: block;
  margin-bottom: 25px;
  padding: 18px 35px;
  color: #757575;
  border-radius: 5px;
  background: #fff;
  border: 0;
  width: 100%;
}
.social-links a {
  margin-right: 25px;
}

@media screen and (max-width: 576px) {
  .banner {
    display: block;
    padding: 20px 0px 0px 20px;
  }
  .banner .profile-pic {
    width: 350px;
  }

  nav li {
    list-style: none;
    margin: 10px;
  }
  nav {
    margin: 0 20px;
  }
  .nav-title {
    font-size: 30px;
    font-weight: 700;
  }
  .btn-primary {
    font-size: 16px;
    font-weight: 500;
    padding: 8px 12px;
    text-wrap: nowrap;
  }
  .banner-greeting {
    font-size: 30px;
  }
  .banner-title {
    font-size: 40px;
    font-weight: 600;
    margin-top: 3px;
    margin-bottom: 10px;
  }
  .banner-description {
    margin-bottom: 20px;
    font-size: 14px;
  }
  /* about started from here  */
  .about {
    padding: 30px;
    border-radius: 10px;
    background: #fff8f3;
    margin: 0;
  }
  .about-info-container {
    display: flex;
    flex-direction: column;
  }
  .about-info {
    margin: 0;
  }
  .info-description {
    margin-top: 5px;
    padding: 5px;
  }
  .info-title {
    margin: 0;
  }
  #what-i-do-description {
    padding: 30px;
  }
  .skills-container {
    display: block;
    padding-left: 10px;
  }
  .skill {
    margin-bottom: 10px;
  }
  .resume-container {
    display: block;
  }
  footer {
    display: block;
    margin-top: 10px;
    padding: 40px;
  }
  .resume-column {
    margin-left: 20px;
  }
  .social-links a {
    margin-right: 10px;
  }

  .section-title {
    font-size: 24px;
  }
}
